<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include company_navbar %>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
    <div id="user_profile">
        <center>
            <img src=<%=company_logo%> alt="company_logo" class="img-thumbnail">
            <h2><%=company_name%></h2>
            <em><%=subLine%></em>
        </center>
    </div>

    <hr>
    <!-- Project One -->
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail" src=<%=company_logo_1%> alt="logo_company_one">
        </div>
        <div class="col-md-8">
            <h3><%=position_1%></h3>
            <h5><%=company_1%></h5>
            <h5><%=location_1%></h5>
            <em><%=create_at_1%></em>
            <p><%=description_1%></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="#">View Job <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail" src=<%=company_logo_1%> alt="logo_company_one">
        </div>
        <div class="col-md-8">
            <h3><%=position_1%></h3>
            <h5><%=company_1%></h5>
            <h5><%=location_1%></h5>
            <em><%=create_at_1%></em>
            <p><%=description_1%></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="#">View Job <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail" src=<%=company_logo_1%> alt="logo_company_one">
        </div>
        <div class="col-md-8">
            <h3><%=position_1%></h3>
            <h5><%=company_1%></h5>
            <h5><%=location_1%></h5>
            <em><%=create_at_1%></em>
            <p><%=description_1%></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="#">View Job <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail" src=<%=company_logo_1%> alt="logo_company_one">
        </div>
        <div class="col-md-8">
            <h3><%=position_1%></h3>
            <h5><%=company_1%></h5>
            <h5><%=location_1%></h5>
            <em><%=create_at_1%></em>
            <p><%=description_1%></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="#">View Job <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Five -->
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail" src=<%=company_logo_1%> alt="logo_company_one">
        </div>
        <div class="col-md-8">
            <h3><%=position_1%></h3>
            <h5><%=company_1%></h5>
            <h5><%=location_1%></h5>
            <em><%=create_at_1%></em>
            <p><%=description_1%></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="#">View Job <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div> <!--container!-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#home').addClass("active");
    });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>