<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include company_navbar %>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
    <div id="user_profile" class="row">
        <div class="col-lg-7">
            <img src=<%=Company.imageUrl%> alt="company_logo" class="img-thumbnail">
            <h2><%=Company.name%></h2>
            <em><%=Company.subLine%></em>
        </div>
        <div class="col-lg-5">
            <span><button class="btn btn-default">Follow</button></span>
            <span><label><%=count%> followers</label></span>
        </div>
    </div>

    <hr>
    <%for (var i = 0; i < Company.jobs.length; i++) {%>
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail" src=<%=Company.imageUrl%> alt="logo_company_one">
        </div>
        <div class="col-md-8">
            <h3><%=Company.jobs[i].position%></h3>
            <h5><%=Company.jobs[i].company%></h5>
            <h5><%=Company.jobs[i].location%></h5>
            <em><%=Company.jobs[i].createAt%></em>
            <p><%=Company.jobs[i].description%></p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="#">View Job <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <%}%>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <%if(Company.jobs.length > 20) {%>
                <li>
                    <a href="#">2</a>
                </li>
                <%}%>
                <%if(Company.jobs.length > 30) {%>
                <li>
                    <a href="#">3</a>
                </li>
                <%}%>
                <%if(Company.jobs.length > 40) {%>
                <li>
                    <a href="#">4</a>
                </li>
                <%}%>
                <%if(Company.jobs.length > 50) {%>
                <li>
                    <a href="#">5</a>
                </li>
                <%}%>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div> <!--container!-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#home').addClass("active");
    });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>