    <!DOCTYPE html>
    <html lang="en">
    <% include header %>
    <body>
    <% include profile_navbar %>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="index.ejs">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
        </div>

        <div class="container">
            <div class="well well-sm">
                <div class="media">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="media-object" src=<%=User.imageUrl%>>
                            <div class="media-body">
                                <h4 class="media-heading"><%=User.firstName + " " + User.lastName%></h4>
                                <h4 class="media-heading"><%=User.headline%></h4>
                                <span><h4 class="media-heading"><strong><%=connection_count%></strong> connections</h4></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" name="status_input" rows="3"></textarea>
                            <br>
                            <div class="pull-right">
                                <form class="form-horizontal" method="post" action="/user/<%=User.userId%>/status">
                                    <button type="submit" class="btn btn-primary">Post new status</button>
                                </form>
                                <br>
                                <br>
                                <br>
                                <form class="form-horizontal" method="post" action="/user/<%=User.userId%>/company">
                                    <button type="submit" class="btn btn-primary">Add a company</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div>-->
            <!--<form method="post" action="/user/<%=User.userId%>/status">-->
            <!--<div>-->
                <!--<textarea class="form-control" name="status_input" rows="3"></textarea>-->
                <!--<div class="pull-right">-->
                    <!--<button type="submit" class="btn btn-primary">Post new status</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--</form>-->
        <!--</div>-->

    </div> <!--container!-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
    </html>