<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include profile_navbar %>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="index.ejs">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
    <form method="put" action="/user/<%=User.userId%>" class="form-horizontal">
        <div id="user_profile">
            <center>
                <div>
                    <img src=<%=User.imageUrl%> alt="profile_pic" class="img-circle">
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 control-label">
                        <label for="firstname">First name: </label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name=User.firstName placeholder=<%=User.firstName%>>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2 control-label">
                        <label for="lastname">Last name: </label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name=User.lastName placeholder=<%=User.lastName%>>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2 control-label">
                        <label for="headline">Headline: </label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="User.headline" placeholder=<%=User.headline%>>
                    </div>
                </div>
                <div class="col-lg-2 control-label">
                    <label for="skill">Skills: </label>
                </div>
                <div class="col-lg-8">
                    <% for(var i=0; i< User.skills.length; i++) {%>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder=<%=User.skills[i]%>>
                    </div>
                    <%}%>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add skills
                    </button>
                </div>
            </center>
        </div>

        <hr>
        <div class="row" id="experience">
            <h2>Experience</h2>
            <% for(var i=0; i< User.experience.length; i++) {%>
            <div>
                <div class="form-group">
                    <div class="col-lg-2 control-label">
                        <label for="position">Position: </label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder=<%=User.experience[i].position%>>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2 control-label">
                        <label for="position">Company: </label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder=<%=User.experience[i].company%> disabled>
                    </div>
                </div>
                <div class="form-group">
                <div class="col-lg-3 col-xs-2">
                    <input type="text" class="form-control" placeholder=<%=User.experience[i].from%>>
                </div>
                <div class="col-lg-3 col-xs-2">
                    <input type="text" class="form-control" placeholder=<%=User.experience[i].to%>>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2 control-label">
                        <label for="position">Description: </label>
                    </div>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3"><%=User.experience[i].description%></textarea>
                    </div>
                </div>
            </div>
            <%}%>
        </div>

        <hr>


        <div class="pull-right">
            <button type="submit" class="btn btn-success btn-lg">Save</button>
        </div>
    </form>
</div> <!--container!-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>