<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include profile_navbar %>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="index.ejs">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
    <form method="PUT" action="/user/<%=req.params.user_id%>">
    <div id="user_profile">
    <center>
    <img src=<%=User.imageUrl%> alt="profile_pic" class="img-circle">
    <h2><%=User.firstName + " " + User.lastName%></h2>
    <h4><em><%=User.headline%></em></h4>
    <span><h3>Skills:
        <% for(var i=0; i< User.skills.length; i++) {%>
            <span class="label label-primary"><%=User.skills[i]%></span>
        <%}%>
        </h3></span>
    </center>
    </div>

    <hr>

    <div class="row" id="experience">
        <div class="col-md-8">
            <h2>Experience</h2>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Star
            </button>
        </div>
        <% for(var i=0; i< User.experience.length; i++) {%>
        <div>
            <div class="col-md-8">
                <h3><%=User.experience[i].position%></h3>
                <h4><%=User.experience[i].company%></h4>
                <em><%=User.experience[i].from + " - " + User.experience[i].to%></em>
            </div>
            <div class="col-md-4">
                <img src=<%=Company.imageUrl%> alt="company_logo" class="img-thumbnail">
            </div>
            <div class="col-md-12">
            <p><%=User.experience[i].description%></p>
            </div>
        </div>
        <%}%>
    </div>

    <hr>

    <div class="row" id="education">
        <h2>Education</h2>
        <% for(var i=0; i< User.education.length; i++) {%>
        <div class="col-md-8">
            <h3><%=User.education[i].institution%></h3>
            <h4><%=User.education[i].degree%></h4>
            <em><%=User.education[i].fromYear + " - " + User.education[i].toYear%></em>
        </div>
        <%}%>
        <!--<div class="col-md-4">-->
            <!--<img src="https://media.licdn.com/media/p/2/005/074/2aa/1c3bae2.png" alt="company_logo" class="img-thumbnail">-->
        <!--</div>-->
    </div>

    </div> <!--container!-->
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('#home').addClass("active");
    });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>